*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(19, 18, 18, 0.301),rgba(12, 11, 11, 0.966)), url(images/help.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.heady-pic{
    color: aliceblue;
    text-align: center;
    font-size: xxx-large;
    padding-top: 420px;
}
.head-pic{
    color: aliceblue;
    text-align: center;
    font-size: xxx-large;
}
.white-text{
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}
.white-text2{
    color: aliceblue;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#donate-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 16px 12px;
    position: absolute;
    width: 130px;
    height: 48px;
    left: 870px;
    top: 670px;
    background: #FF5959;
    border-radius: 5px;
}

.sec2{
    text-align: center;
    font-size: xxx-large;
    padding-top: 90px;
}
.secp2{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

 .tk100{
    color: #707070;
    position: absolute;
    width: 135px;
    height: 123px;
    left: 638px;
    top: 1190px;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    background: #FAFAFA;
    border-radius: 5px; 
 }

 .tk200{
    box-sizing: border-box;
    color: #FF5959;
    position: absolute;
    width: 136px;
    height: 123px;
    left: 795px;
    top: 1190px;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
 }

.tk500{
    color: #707070;
    position: absolute;
    width: 135px;
    height: 123px;
    left: 953px;
    top: 1190px;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    background: #FAFAFA;
    border-radius: 5px;
}
.tk1000{
    color: #707070;
    position: absolute;
    width: 136px;
    height: 123px;
    left: 1110px;
    top: 1190px;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    background: #FAFAFA;
    border-radius: 5px;
}

.tk5000{
    color: #707070;
    position: absolute;
    width: 135px;
    height: 123px;
    left: 1268px;
    top: 1190px;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    background: #FAFAFA;
    border-radius: 5px;
}
.other{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 192px;
    left: 915px;
    top: 1382px;
    text-align: center;
    color: #B3B3B3;
}
hr{
    position: absolute;
    width: 765px;
    height: 0px;
    left: 618px;
    top: 1410px;
    border: 1px solid #DADADA;
}

#donate-box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 16px 12px;
    position: absolute;
    width: 130px;
    height: 52px;
    left: 920px;
    top: 1460px;
    background: #FF5959;
    border-radius: 5px;

}

.donation-plan{
    position: absolute;
    width: 557px;
    height: 54px;
    left: 742px;
    top: 1615.5px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.plans{
    position: absolute;
    width: 737px;
    height: 56px;
    left: 675px;
    top: 1689.5px;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
}



footer{
    position: ;
    color: white;
    text-align: center;
    padding-top: 60px;
    width: 100vw;
    height: 300px;
    background-color: #0B0D17;
}
footer h2{
    color: #FF5959;
    font-size: 40px;
}



    

